In [4]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv("Iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
lists = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']
for i in lists:
    data[i] = data[i].replace(0,np.NaN)
    mean = int(data[i].mean(skipna=True))
    data[i] = data[i].replace(np.NaN,mean)

In [10]:
# Species = {'Iris-setosa':1,'Iris-versicolor':2,'Iris-virginica':3}

In [11]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
data.Species[data.Species == 'Iris-setosa'] = 1
data.Species[data.Species == 'Iris-versicolor'] = 2
data.Species[data.Species == 'Iris-virginica'] = 3

C:\Users\dhina\AppData\Local\Temp/ipykernel_11656/3173563800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Species[data.Species == 'Iris-setosa'] = 1
C:\Users\dhina\AppData\Local\Temp/ipykernel_11656/3173563800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Species[data.Species == 'Iris-versicolor'] = 2
C:\Users\dhina\AppData\Local\Temp/ipykernel_11656/3173563800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Species[data.Species == 'Iris-virginica'] = 3

In [17]:
data.head(150)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2       1
1      2            4.9           3.0            1.4           0.2       1
2      3            4.7           3.2            1.3           0.2       1
3      4            4.6           3.1            1.5           0.2       1
4      5            5.0           3.6            1.4           0.2       1
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3       3
146  147            6.3           2.5            5.0           1.9       3
147  148            6.5           3.0            5.2           2.0       3
148  149            6.2           3.4            5.4           2.3       3
149  150            5.9           3.0            5.1           1.8       3

[150 rows x 6 columns]

In [28]:
X = data.iloc[:,1:5]
y= data.iloc[:, 5]
y=y.astype('int')

In [29]:
print(X,y)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns] 0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: Species, Length: 150, dtype: int32

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0, test_size=0.2)

In [31]:
model = KNeighborsClassifier(n_neighbors=11, weights='uniform',p=3)

In [32]:
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=11, p=3)

In [33]:
ypred = model.predict(X_test)

In [34]:
ypred

array([3, 2, 1, 3, 1, 3, 1, 2, 2, 2, 3, 2, 2, 2, 2, 1, 2, 2, 1, 1, 3, 2,
       1, 1, 3, 1, 1, 2, 2, 1])

In [36]:
cm = confusion_matrix(y_test, ypred)
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]], dtype=int64)

In [42]:
print("Accuracy:",accuracy_score(y_test,ypred)*100)
# print("f1 score: ", f1_score(y_test, ypred))

Accuracy: 100.0

In [63]:
#with this we acn get input from the user


a = list(map(float, input().strip().split()))[:4]
b = [a]
model.predict(b)
if model.predict(b) == [1]:
    print("Iris-Setosa")
elif model.predic(b) == [2]:
    print("Iris-versicolor")
elif model.predict(b) == [3]:
    print("Iris-virginica")

Iris-Setosa